In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os, platform
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sn
%matplotlib inline

In [2]:
print("System")
print("os name: %s" % os.name)
print("system: %s" % platform.system())
print("release: %s" % platform.release())
print()
#print("Python")
#print("version: %s" % python_version())
print("Python Packages")
print("pandas==%s" % pd.__version__)
print("numpy==%s" % np.__version__)
print("matplotlib==%s" % matplotlib.__version__)
print("seaborn==%s" % sn.__version__)

System
os name: nt
system: Windows
release: 10

Python Packages
pandas==0.24.2
numpy==1.16.4
matplotlib==2.2.2
seaborn==0.9.0

In [8]:
df_o = pd.read_csv(os.path.join(os.getcwd(),"Salaries.csv"))

In [11]:
# Make a Working Copy
df = df_o.copy()
df.sample(5)

          rank discipline  yrs.since.phd  yrs.service   sex  salary
76        Prof          B             17            3  Male  150480
50        Prof          B             28           28  Male  126621
136       Prof          A             16           14  Male  108262
382  AssocProf          A              8            5  Male   86895
32        Prof          B             13            9  Male  117256

## Data Cleaning

In [13]:
num_all_records = len(df) # 397
print(df.shape) # (397,6)

# filter dataframe for rank == AsstProf and yrs.service <5

# Rename the columns/variables with dots, for convenience
# Renamed "rank" to "title" due to confile with "rank" used a df method
df.rename(columns={"yrs.since.phd":"years_phd","yrs.service":"years_service","rank":"title"}, inplace=True)
df.columns

# Check to make sure consistent entry for the rank and years_service variables
df["title"].value_counts()
df["years_service"].value_counts()

# Filter and count number of entries
df_filt1 = df.loc[(df.title=="AsstProf") & (df.years_service<5)]
print(df_filt1)
print(len(df_filt1))
num_filterd = len(df_filt1)
percentage = (num_filterd / num_all_records) * 100

(397, 6)
        title discipline  years_phd  years_service     sex  salary
2    AsstProf          B          4              3    Male   79750
11   AsstProf          B          7              2    Male   79800
12   AsstProf          B          1              1    Male   77700
13   AsstProf          B          2              0    Male   78000
27   AsstProf          B          5              3    Male   82379
28   AsstProf          B         11              0    Male   77000
31   AsstProf          B          7              2    Male   79916
33   AsstProf          B          4              2    Male   80225
34   AsstProf          B          4              2  Female   80225
35   AsstProf          B          5              0  Female   77000
37   AsstProf          B          7              4    Male   86373
49   AsstProf          B          1              1    Male   70768
52   AsstProf          B         11              3  Female   74692
59   AsstProf          B          8              3    Male   75044
61   AsstProf          B          3              2    Male   75243
64   AsstProf          B          4              3    Male   68404
75   AsstProf          B          8              3    Male   73266
78   AsstProf          B          3              1    Male   86100
79   AsstProf          B          6              2    Male   84240
83   AsstProf          B          6              2    Male   88825
87   AsstProf          B          2              2    Male   88400
95   AsstProf          B          4              0    Male   84000
112  AsstProf          A          3              1    Male   72500
118  AsstProf          A          4              1    Male   72500
119  AsstProf          A          5              3  Female   73500
127  AsstProf          A          2              0  Female   72500
129  AsstProf          A          4              2    Male   73000
133  AsstProf          A          3              1  Female   72500
143  AsstProf          B          3              3    Male   89942
146  AsstProf          B          4              4    Male   92000
..        ...        ...        ...            ...     ...     ...
157  AsstProf          B          1              0    Male   88000
160  AsstProf          B          2              2    Male   89516
163  AsstProf          B          3              3    Male   89942
164  AsstProf          B          1              0    Male   88795
179  AsstProf          B          3              3  Female   92000
196  AsstProf          B          4              4    Male   92700
197  AsstProf          B          4              4    Male   92000
200  AsstProf          B          4              4    Male   92700
208  AsstProf          B          7              2    Male   91300
210  AsstProf          B          4              3    Male   91000
226  AsstProf          A          3              1    Male   63900
234  AsstProf          A          8              3    Male   69700
240  AsstProf          A          5              3    Male   69200
253  AsstProf          A          4              2  Female   77500
258  AsstProf          A          9              3    Male   73800
272  AsstProf          A          4              1    Male   73000
273  AsstProf          A          8              4    Male   74000
274  AsstProf          A          8              3  Female   78500
287  AsstProf          A          2              0    Male   85000
306  AsstProf          A          7              4    Male   74500
308  AsstProf          A          5              0    Male   74000
315  AsstProf          B          6              3    Male   84716
325  AsstProf          B          8              4    Male   84500
348  AsstProf          B          4              3    Male   80139
354  AsstProf          B          8              1    Male   83600
359  AsstProf          A         11              4    Male   78785
376  AsstProf          A          4              1    Male   74856
377  AsstProf          A          6              3    Male   77081
380  AsstProf          A          8              3    Male   75996
396  AsstProf          A          8              4    Male   81035

[63 rows x 6 columns]
63