# Chapter 1. Exploratory Data Analysis *

###  Elements of Structured Data

No code in this section. It describes some key data types, including: Continuous, Desicrete, Cateforical, Binary and Ordinal. The takeaway message is that you need to be mindful of the types of data you're dealing with, with because appropriate models and methods of represntation (visualizations) often vary.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sn

###  Rectangular Data

Rectangular data is has a table/spreadsheet representation. This is often referred to a a data frame. In fact ***DataFrame*** is the name of one of the primary data type in Pandas. There are several ways to create a data frame. Below we see how to create one from a dictionary. The keys (A,B) become column names, and the values populated the corresponding rows. You'll notice that an index (which is a unique row label) is automatically created as a label for the rows.

In [8]:
import pandas as pd

# - From a dictionary
d = {'a': [1, 2], 'b': [3, 4]}
df = pd.DataFrame(data=d)
df

   a  b
0  1  3
1  2  4

In [5]:
type(df)

pandas.core.frame.DataFrame

In [15]:
import numpy as np

a = np.random.randint(low=0, high=10, size=(4, 3))
df_a = pd.DataFrame(a,columns=['A', 'B', 'C'])
df_a

   A  B  C
0  0  7  2
1  2  4  1
2  2  5  2
3  3  8  6

It is easy to load a data frame direction from a csv file using: df= pd.read_csv(data_path)
There are numerous reading option here, including specifying index column and time series parsing.

### Estimates of Location

### Estimate of Variability

### Exploring the Data Distribution

###  Exploring Binary and Categorical Data

###  Correlation

###  Exploring Two of More Variables